<a href="http://localhost:3001/blot/{{id}}">
  <div class="blogCard">
    <div class="blogHeader">
      <p>{{title}}</p>
      <pre>Posted by {{User.username}} on {{createdAt}}</pre>
    </div>
    <div class="blogContent">
      <p>{{content}}</p>
    </div>
  </div>
</a>